
body{
    box-sizing: border-box;
   // background-color: #1a211b;
   background: url(../../src/assets/trimg.jpg) no-repeat;
   background-size: 100vw;
   background-color: rgba(6, 61, 156, 0.989);

}   