@import '../params/params-button.scss';
.table-winner{
    color: white;
    font-weight:600;
}
th{
    color: black;
    cursor: pointer;
    font-weight:700;
}
td {
    padding-top: 15px;
    padding-left: 5px;

  } 
th:hover{
    color: $button-active;
}