@import '../params/params-button.scss';
.counter-garag{
    background-color: $button-background;
    width: 285px;
    margin-bottom: 5px;
}
.div-garage, .div-page{
    margin-top: 5px;
    color: white;
}
.div-garage, .div-page{
    font-size: 1.1em
}